{% extends "base.html" %}
{% block content %}


  <main id="main">

    <!-- ======= About Section ======= -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">
            <form action="/#skills" method="post">
                <label for="testo">Your name: </label>
                <input id="testo" type="text" name="testo" value="{{ current_name }}">
                <input type="submit" value="OK">
            </form>

            <h2>{{prediction}}</h2>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->


  </main><!-- End #main -->
{% endblock %}